# OS
.DS_Store
Thumbs.db

# Jetbrains
.idea
*.iws
*.iml
*.ipr

# VSCode
.vscode

# Maven
.mvn

# Gradle
.gradle

# Running
/logs
/data
/cache
/config
/tmp
*.log
*.log.gz
*.db

# Others
*~
*.~
*.bak
*.tmp